@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

:root{
    --pri-main-color: #5964E0;
    --pri-sec-color: #939BF4;
    --pri-midnight-color: #121721;
    --pri-dark-color: #19202D;
    --sec-white-color: #fff;
    --sec-lt-gray-color: #F4F6F8;
    --sec-gray-color: #9DAEC2;
    --sec-dark-gray-color: #6E8098;
    --bg-color: #F2F2F2;
    --body-font: 16px;
    --imp-font: 20px;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--bg-color);
}

/* start header styling  */
header{
    width: 100%;
    position: relative;
    padding-top: 30px;
    padding-left: 8%;
    padding-right: 8%;
}

header .header-bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-bg img{
    width: 100%;
    height: 100%;
}

header .header-contents{
    z-index: 9;
    position: relative;
}

.header-contents{
    display: flex;
    justify-content: space-between;
}

.header-contents .theme-switch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.theme-switch .switch{
    padding: 0 10px;
}
/* end header styling  */



