@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

:root{
    --pri-main-color: #5964E0;
    --pri-sec-color: #939BF4;
    --pri-midnight-color: #121721;
    --pri-dark-color: #19202D;
    --sec-white-color: #fff;
    --sec-lt-gray-color: #F4F6F8;
    --sec-gray-color: #9DAEC2;
    --sec-dark-gray-color: #6E8098;
    --bg-color: #F2F2F2;
    --body-font: 16px;
    --imp-font: 20px;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--bg-color);
}

/* start header styling  */
header{
    width: 100%;
    position: relative;
    padding-top: 3.3rem;
    padding-left: 8%;
    padding-right: 8%;
}

header .header-bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-bg img{
    width: 100%;
    height: 100%;
}

header .header-contents{
    z-index: 9;
    position: relative;
}

.header-contents{
    display: flex;
    justify-content: space-between;
}

.header-contents .theme-switch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.theme-switch .switch{
    padding: 0 10px;
}
/* end header styling  */

/* start search container styling  */
.search-container{
    position: absolute;
    width: 84%;
    margin: 0 8%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    background-color: var(--sec-white-color);
    border-radius: 5px;
    justify-content: space-evenly;
    top: 8rem;
}

.search-container .keyword-search{
    display: flex;
    width: 40%;
    padding-left: 30px;
}

.search-container .keyword-search img{
    width: 24px;
}

.search-container .keyword-search input,
.search-container .location-search input
{
    margin-left: 10px;
    border: none;
    outline: none;
    margin-right: 10px;
    width: 100%;
    font-size: var(--body-font);
}
.search-container .location-search{
    display: flex;
    width: 33%;
    padding-left: 10px;
}
.search-container .fulltime-search{
    display: flex;
    width: 25%;
    padding-right: 30px;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
}

.search-container .fulltime-search p{
 font-weight: 600;
}

.search-container .fulltime-search button{
    padding: 0 10px;
    height: 3rem;
    width: 7.4rem;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--pri-main-color);
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--sec-white-color);
    letter-spacing: 0.8px;
    margin-left: 1rem;
    font-size: var(--body-font);
}

.search-container .fulltime-search button:hover{
    background-color: var(--pri-sec-color);
}

/* .line{
    background: #000000;
    width: 1%;
} */
/* .search-container .fulltime-search input{
    padding: 10px;
} */
/* end search container styling  */


/* start job board container styling  */
.board-container{
    position: relative;
    top: 13rem;
    margin: 0rem 8%;  
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fit, 17rem);
    /* gap: 1rem; */
    justify-content: center;
    gap: 2.9rem 1rem;
}

/* start single job tile styling  */
.job-tile{
    background-color: var(--sec-white-color);
    /* width: 32%; */
    height: 228px;
    padding: 45px 35px 35px;
    border-radius: 5px;
    position: relative;
    font-size: var(--imp-font);
}
.job-tile figure{
    position: absolute;
    top: -1.7rem;
}
.job-tile .first-layer{
    display: flex;
    color: var(--sec-dark-gray-color);
    font-size: var(--body-font);
    font-weight: 400;
    margin-bottom: 0.8rem;
    align-items: end;
}
.job-tile .first-layer span{
    padding: 0;
    /* font-size: 20px; */
    background-color: var(--sec-dark-gray-color);
    width: 5px;
    height: 5px;    
    border-radius: 50%;
    margin: 4px 19px;
}

.job-tile .second-layer .job-title{
    color: var(--pri-dark-color);
    font-size: var(--imp-font);
    margin-bottom: 0.7rem;
}

.job-tile .second-layer .company-name{
    color: var(--sec-dark-gray-color);
    margin-bottom: 2.5rem;
}

.job-tile .third-layer .company-location{
    color: var(--pri-main-color);
    font-size: var(--body-font);
}
/* end single job tile styling  */

/* end job board container styling  */


/* start Load More button styling  */
.search-more{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 17rem;
    margin-bottom: 3rem;
    height: 3rem;
    /* width: 7.5rem; */
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: var(--body-font);
    letter-spacing: 1.1px;
    padding: 0 1rem;
    background-color: var(--pri-main-color);
    color: var(--sec-white-color);
}

.search-more:hover{
    background-color: var(--pri-sec-color);
}
/* end Load More button styling  */

/* start media query for large laptop screen  */
@media screen and (max-width: 1440px) {
    
}
/* end media query for large laptop screen  */
/* start media query for normal laptop screen  */
@media screen and (max-width: 1024px) {
    header{
        padding-top: 2rem;
    }
    .search-container{
        top: 5.4rem;
        padding: 20px 5px;
    }
    .search-container .keyword-search{
        padding-left: 1rem;
    }
    .search-container .location-search{
        padding-right: 1rem;
        width: 20%;
    }
    .search-container .fulltime-search{
        padding-right: 1rem;
        padding-left: 3rem;
        width: 40%;
    }
}
/* end media query for normal laptop screen  */

